version: "3"
services:
  db:
    image: postgres:15
    ports:
      - 5555:5432
    environment:
      POSTGRES_PASSWORD: llmz
      POSTGRES_DB: llmx
    command:
      - postgres
      - -c
      - log_statement=all
      - -c
      - log_destination=stderr
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./schema:/docker-entrypoint-initdb.d

  api:
    build: .
    entrypoint: [ "/api/dev.sh" ]
    volumes:
      - ./:/api
      - ./config.json:/secret/cfg/config.json
      - ./service_account.json:/secret/cfg/service_account.json
      - ./.modal.toml:/secret/.modal.toml
    environment:
      - PYTHONUNBUFFERED=1
      - LOG_LEVEL=DEBUG
      - E2E_AUTH0_CLIENT_SECRET
      - GOOGLE_APPLICATION_CREDENTIALS=service_account.json
      - SHA=DEV
      - MODAL_CONFIG_PATH=/secret/.modal.toml
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otelcol:4318

    ports:
      - 8000:8000

  message-deletion-job:
    build: ./message_deletion_job
    profiles: [ "scheduled-job" ]
    volumes:
      - ./config.json:/secret/cfg/config.json

  otelcol:
    image: otel/opentelemetry-collector-contrib:0.135.0
    ports:
      - 55679:55679
      - 4317:4317
      - 4318:4318

volumes:
  pgdata:
