version: "3"
services:
  db:
    image: postgres:15
    ports:
      - 5555:5432
    environment:
      POSTGRES_PASSWORD: llmz
      POSTGRES_DB: llmx
    command:
      - postgres
      - -c
      - log_statement=all
      - -c
      - log_destination=stderr
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./schema:/docker-entrypoint-initdb.d
      
  api:
    build: .
    entrypoint: [ "/api/dev.sh" ]
    volumes:
      - ./:/api
      - ./config.json:/secret/cfg/config.json
    environment:
      - PYTHONUNBUFFERED=1
      - LOG_LEVEL=DEBUG
      - E2E_AUTH0_CLIENT_SECRET
    ports:
      - 8000:8000
  
  message-deletion-job:
    build: ./message_deletion_job
    profiles: ["scheduled-job"]
    environment:
      POSTGRES_CONNECTION_STRING: postgres://app:llmz@db:5432/llmx?sslmode=disable
    
volumes:
  pgdata:
