x-shared-env: &shared-env
  PYTHONUNBUFFERED: 1
  PYTHON_ENV: development
  UV_NO_DEV: 0
  LOG_LEVEL: DEBUG
  GOOGLE_APPLICATION_CREDENTIALS: /secret/cfg/service_account.json
  SHA: DEV
  MODAL_CONFIG_PATH: /secret/.modal.toml
  OTEL_EXPORTER_OTLP_ENDPOINT: http://jaeger:4318
  OTEL_SERVICE_NAME: olmo-api
  FLASK_CONFIG_PATH: /app/config.json
  E2E_AUTH0_CLIENT_SECRET: ${E2E_AUTH0_CLIENT_SECRET}


services:
  db:
    image: postgres:15
    ports:
      - 5555:5432
    environment:
      POSTGRES_PASSWORD: llmz
      POSTGRES_DB: llmx
    command:
      - postgres
      - -c
      - log_statement=all
      - -c
      - log_destination=stderr
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./schema:/docker-entrypoint-initdb.d

  api:
    build: 
      context: .
      dockerfile: apps/playground-api/Dockerfile
      target: dev
      
    volumes:
      - ./service_account.json:/secret/cfg/service_account.json
      - ./.modal.toml:/secret/.modal.toml
      
    environment:
      <<: *shared-env

    develop:
      # Create a `watch` configuration to update the app
      # https://docs.docker.com/compose/file-watch/#compose-watch-versus-bind-mounts
      watch:
        # Sync the working directory with the `/app` directory in the container
        - action: sync
          path: .
          target: /app
          # Exclude the project virtual environment — it could be for a
          # different platform in the container
          ignore:
            - .venv/

        # Rebuild the image if dependencies change by checking uv.lock
        - action: rebuild
          path: ./uv.lock

        - action: restart
          path: ./config.json

    ports:
      - 8000:8000

  
  safety-worker:
    build:
      dockerfile: apps/safety-worker/safety-worker.Dockerfile
      context: .
      target: dev
      
    volumes:
      - ./service_account.json:/secret/cfg/service_account.json
      - ./.modal.toml:/secret/.modal.toml

    environment:
      <<: *shared-env

    develop:
      watch:
        # Sync the working directory with the `/app` directory in the container
        - action: sync
          path: .
          target: /app
          # Exclude the project virtual environment — it could be for a
          # different platform in the container
          ignore:
            - .venv/

        # Rebuild the image if dependencies change by checking uv.lock
        - action: rebuild
          path: ./uv.lock

        - action: restart
          path: ./config.json

    ports:
      # We use the Prometheus middleware to check if a worker is healthy
      - 9191:9191

  redis:
    image: redis:7
    ports:
      - 6379:6379
    command: --loglevel debug

  jaeger:
    image: cr.jaegertracing.io/jaegertracing/jaeger:2.10.0
    ports:
      - 55679:55679
      - 4317:4317
      - 4318:4318
      - 16686:16686
      - 14250:14250
    environment:
      - COLLECTOR_OTLP_ENABLED=true
      
volumes:
  pgdata:
