services:
  db:
    image: postgres:15
    ports:
      - 5555:5432
    environment:
      POSTGRES_PASSWORD: llmz
      POSTGRES_DB: llmx
    command:
      - postgres
      - -c
      - log_statement=all
      - -c
      - log_destination=stderr
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./schema:/docker-entrypoint-initdb.d

  api:
    build: .
    entrypoint: [ "/api/dev.sh" ]
    volumes:
      - ./:/api
      - ./config.json:/secret/cfg/config.json
      - ./service_account.json:/secret/cfg/service_account.json
      - ./.modal.toml:/secret/.modal.toml
    environment:
      - PYTHONUNBUFFERED=1
      - LOG_LEVEL=DEBUG
      - E2E_AUTH0_CLIENT_SECRET
      - GOOGLE_APPLICATION_CREDENTIALS=service_account.json
      - SHA=DEV
      - MODAL_CONFIG_PATH=/secret/.modal.toml
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
      - OTEL_SERVICE_NAME=olmo-api

    ports:
      - 8000:8000

  
  safety-worker:
    build:
      dockerfile: safety-worker.Dockerfile
      context: .
    entrypoint: [ "/api/start-safety-worker.sh" ]
    volumes:
      - ./:/api
      - ./config.json:/secret/cfg/config.json
      - ./service_account.json:/secret/cfg/service_account.json
      - ./.modal.toml:/secret/.modal.toml
    environment:
      - PYTHONUNBUFFERED=1
      - LOG_LEVEL=DEBUG
      - E2E_AUTH0_CLIENT_SECRET
      - GOOGLE_APPLICATION_CREDENTIALS=service_account.json
      - SHA=DEV
      - MODAL_CONFIG_PATH=/secret/.modal.toml
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
      - OTEL_SERVICE_NAME=olmo-api

    ports:
      # We use the Prometheus middleware to check if a worker is healthy
      - 9191:9191

  message-deletion-job:
    build: ./message_deletion_job
    profiles: [ "scheduled-job" ]
    volumes:
      - ./config.json:/secret/cfg/config.json

  redis:
    image: redis:7
    ports:
      - 6379:6379
    command: --loglevel debug

  jaeger:
    image: cr.jaegertracing.io/jaegertracing/jaeger:2.10.0
    ports:
      - 55679:55679
      - 4317:4317
      - 4318:4318
      - 16686:16686
      - 14250:14250
    environment:
      - COLLECTOR_OTLP_ENABLED=true
      
volumes:
  pgdata:
