name: e2e API Tests
on:
  push:
    branches: [main, dev]
  pull_request:

jobs:
  e2e-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Config
        env:
          CONFIG_JSON: ${{ secrets.CONFIG_JSON }}
        run: |
          echo $CONFIG_JSON | base64 --decode > config.json

      - name: Setup Gcloud Credentials
        env:
          GOOGLE_SERVICE_ACCOUNT: ${{ secrets.GOOGLE_SERVICE_ACCOUNT }}
        run: |
          echo $GOOGLE_SERVICE_ACCOUNT | base64 --decode > service_account.json

      - name: Setup modal
        env:
          MODAL_TOML: ${{ secrets.MODAL_TOML }}
        run: |
          echo $MODAL_TOML | base64 --decode > .modal.toml

      - name: Run docker compose
        uses: hoverkraft-tech/compose-action@v2
        with:
          compose-file: "./docker-compose.yaml"
        env:
          FLASK_CONFIG_PATH: "./test.config.json"
          E2E_AUTH0_CLIENT_SECRET: ${{ secrets.E2E_AUTH0_CLIENT_SECRET }}
          
      - name: Set up uv
        uses: ./.github/actions/set-up-uv

      - name: Test flask api with pytest
        run: FLASK_CONFIG_PATH=./config.json E2E_AUTH0_CLIENT_SECRET=${{ secrets.E2E_AUTH0_CLIENT_SECRET }} uv run pytest ./apps/flask-api/e2e

      - name: Test fastapi with pytest
        env:
          E2E_AUTH0_CLIENT_ID=${{ secrets.E2E_AUTH0_CLIENT_ID }}
          E2E_AUTH0_CLIENT_SECRET=${{ secrets.E2E_AUTH0_CLIENT_SECRET }}
          AUTH_DOMAIN=auth0.allenai.org
          AUTH_AUDIENCE=https://olmo-api.allen.ai
        run: uv run pytest ./apps/api/e2e
