name: Docker Compose Action

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4.2.2

            - name: Setup Config
              run: |
                  echo $CONFIG_JSON | base64 --decode > config.json
                  env: CONFIG_JSON: ${{ secrets.CONFIG_JSON}}

            - name: Setup Gcloud Credentials
              run: |
                  echo $GOOGLE_SERVICE_ACCOUNT | base64 --decode > service_account.json
                  env: GOOGLE_SERVICE_ACCOUNT: ${{ secrets.GOOGLE_SERVICE_ACCOUNT }}

            - name: Setup modal
              run: |
                  echo $MODAL_TOML | base64 --decode > .modal.toml
                  env: MODAL_TOML: ${{ secrets.MODAL_TOML}}

            - name: Run docker compose
              uses: hoverkraft-tech/compose-action@v2.0.1
              with:
                  compose-file: "./docker-compose.yaml"
              env:
                  FLASK_CONFIG_PATH: "./config.test.json"
                  E2E_AUTH0_CLIENT_SECRET: ${{ secrets.E2E_AUTH0_CLIENT_SECRET }}

            - name: Execute tests in the running services
              run: |
                  docker compose exec api pytest
