name: Verify

concurrency:
  group: unit-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [main, dev]
  pull_request:

jobs:
    unit-test:
      runs-on: ubuntu-latest
      env:
        DATABASE_URL: ${{ vars.DATABASE_URL }}
        AUTH_DOMAIN: ${{ vars.AUTH_DOMAIN }}
        AUTH_AUDIENCE: ${{ vars.AUTH_AUDIENCE }}
      steps:
        - uses: actions/checkout@v6

        - name: Set up uv
          uses: ./.github/actions/set-up-uv

        - name: Test with pytest
          run: uv run pytest --ignore ./apps/flask-api/e2e --ignore ./apps/api/e2e

    type-check-api:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v6

        - name: Set up uv
          uses: ./.github/actions/set-up-uv

        - run: uv run mypy apps/api packages

    type-check-flask:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v6

        - name: Set up uv
          uses: ./.github/actions/set-up-uv

        - run: uv run mypy apps/flask-api

    lint:
      runs-on: ubuntu-latest  
      steps:
      - uses: actions/checkout@v6
  
      - name: Set up uv
        uses: ./.github/actions/set-up-uv

      - run: uv run ruff check --exclude ./apps/flask-api --output-format=github
      
    format:
      runs-on: ubuntu-latest 
      steps:
        - uses: actions/checkout@v6
    
        - name: Set up uv
          uses: ./.github/actions/set-up-uv

        - run: uv run ruff format --check