name: Verify

concurrency:
  group: unit-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [main, dev]
  pull_request:

jobs:
    unit-test:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v6

        - name: Set up uv
          uses: ./.github/actions/set-up-uv

        - name: Test with pytest
          run: uv run pytest --ignore ./apps/playground-api/e2e

    type-check:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v6

        - name: Set up uv
          uses: ./.github/actions/set-up-uv

        - run: uv run mypy .

    lint:
      runs-on: ubuntu-latest  
      steps:
      - uses: actions/checkout@v6
  
      - name: Set up uv
        uses: ./.github/actions/set-up-uv

      - run: uv run ruff check --exclude ./apps/playground-api --output-format=github

    debug-lint:
      runs-on: ubuntu-latest  
      steps:
      - uses: actions/checkout@v6
  
      - name: Set up uv
        uses: ./.github/actions/set-up-uv

      - run: uv run ruff check --output-format=github --select I001 -v apps/db-migrations/env.py
      
    format:
      runs-on: ubuntu-latest 
      steps:
        - uses: actions/checkout@v6
    
        - name: Set up uv
          uses: ./.github/actions/set-up-uv

        - run: uv run ruff format --check