name: Verify

concurrency:
  group: unit-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [main, dev]
  pull_request:

jobs:
    unit-test:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v6

        - name: Set up uv
          uses: ./.github/actions/set-up-uv

        - name: Test with pytest
          run: uv run pytest --ignore e2e --ignore src/attribution

    type-check:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v6

        - name: Set up uv
          uses: ./.github/actions/set-up-uv

        - run: uv run mypy . --config ./pyproject.toml

    # lint:
    #   runs-on: ubuntu-latest  
    #   steps:
    #   - uses: actions/checkout@v6
  
    # - name: Set up uv
    #   uses: ./.github/actions/set-up-uv

    #   - run: uv run ruff check --config ./pyproject.toml --output-format=github
      
    format:
      runs-on: ubuntu-latest 
      steps:
        - uses: actions/checkout@v6
    
        - name: Set up uv
          uses: ./.github/actions/set-up-uv

        - run: uv run ruff format --check --config ./pyproject.toml